footer.footer
  .footer-bg
    .container
      .footer-head
        span Вы можете получить подробную консультацию по телефону:
        span.phone-number 8 (4012) 58-25-03
        span или
        a(href="#!").btn Заказать обратный звонок
      
      .footer-body
        .footer-body__item.item-1

          .footer-title Меню
          ul.footer-nav.clearfix
            li
              a(href="#!") Каталог
            li
              a(href="#!") Производители
            li
              a(href="#!") Оплата и доставка
            li
              a(href="#!") Решения
            li
              a(href="#!") Блог
            li
              a(href="#!") Контакты
            li
              a(href="#!") О компании
            li
              a(href="#!") Услуги
            li
              a(href="#!") Акции
            li
              a(href="#!") Фотогалерея
            li
              a(href="#!") Библиотека

          

        .footer-body__item.item-2
          .footer-title Партнерам

          .partners Компания ООО “Престиж Мебель” предлагает интересную программу для своих партнеров. Узнать больше можно в разделе для партнеров.
          a(href="#!").partners-text Стать партнером компании

        .footer-body__item.item-3
          .footer-title Контакты
          .location Главный магазин / офис: г. Калининград, ул. Суздальская, д.10 (ориентир магазин “КЭШ” )
            .phone 8 (4012) 58-25-03
          
          a(href="#!") Показать все магазины

    .footer-panel
      .container
        .footer-panel__items
          .footer-panel__item.item-1
            .logo
              a(href="#!")
                img(src="images/logo.png", alt="")

            .slogan Мебель и предметы интерьера из Европы, Азии, Америки

            ul.footer-social
              li
                a(href="#!")
                  i.fa.fa-vk
              li
                a(href="#!")
                  i.fa.fa-odnoklassniki-square
              li
                a(href="#!")
                  i.fa.fa-facebook-official
              li
                a(href="#!")
                  i.fa.fa-instagram
          
          .footer-panel__item.item-2

            .copyright © 2017, <a href="#!">prestige-mebel.ru</a>  Все права защищены.

            .develop Разработка сайта - 
              a(href="#!") Onebanan Studio