.gallery
  a(href="images/gallery-images-1.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-1.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-2.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-2.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-3.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-3.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-4.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-4.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-5.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-5.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-6.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-6.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-7.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-7.jpg", alt="gallery-image" title="gallery-image")

  a(href="images/gallery-images-8.jpg" rel="gallery" title='Название продукта').gallery__item.fancybox
    img(src="images/gallery-images-8.jpg", alt="gallery-image" title="gallery-image")
