nav#menu
  
  ul
    li
      a(href='#!') Каталог
      ul
        li
          a(href='#!') Тип помещения
          ul
            li
              a(href='#!') Гостиная
            li
              a(href='#!') Столовая / Кухня
            li
              a(href='#!') Спальня
            li
              a(href='#!') Детская / Подростковая
            li
              a(href='#!') Прихожая
            li
              a(href='#!') Кабинет
            li
              a(href='#!') Мебель для Ванной
            li
              a(href='#!') Гардеробная
        li
          a(href='#!') Тип мебели
          ul
            li
              a(href="#!") Диваны
            li
              a(href="#!") Угловые диваны
            li
              a(href="#!") Прямые диваны
            li
              a(href="#!") Модульные диваны
            li
              a(href="#!") Кресла
            li
              a(href="#!") Пуфы и банкетки
            li
              a(href="#!") Витрины
            li 
              a(href="#!") Угловые диваны

        li
          a(href='#!') Стиль мебели
          ul
            li
              a(href='#!') Гостиная
            li
              a(href='#!') Столовая / Кухня
            li
              a(href='#!') Спальня
            li
              a(href='#!') Детская / Подростковая
            li
              a(href='#!') Прихожая
            li
              a(href='#!') Кабинет
            li
              a(href='#!') Мебель для Ванной
            li
              a(href='#!') Гардеробная
    li
      a(href='#!') Производители
    li
      a(href='#!') Услуги
    li
      a(href='#!') Акции
    li
      a(href='#!') Предложения
    li
      a(href='#!') Компания
      ul
        li
          a(href='#!') О компании
        li
          a(href='#!') Оплата и доставка
        li
          a(href='#!') Фотогалерея
        li
          a(href='#!') Документы
    li
      a(href='#!') Блог
    li
      a(href='#!') Контакты
