.product
  .product__image
    .label
      .label__item Sale
      .label__item New
      
    a(href="#!")
      img(src="images/product-image-1.jpg", alt="product-image")

  .product__title
    a(href="#!") Угловой кожанный диван серии Венеция
  .product__footer
    .product__old-price 56 590 руб.
    .product__price 45 900 руб.

  .product__hidden
    .description
      .description__item
        .description__title Фабрика:
        .description__value
          img(src="images/italy-flag.jpg", alt="") 
          | Fratelli Barr

      .description__item
        .description__title Коллекция:
        .description__value Gigaro

      .description__item
        .description__title Размеры:
        .description__value 150 х 66 х 20

    a(href="#!").btn <span class="btn-icon-cart"></span> Заказать