script(src='js/jquery-2.2.0.min.js')
script(src="https://use.fontawesome.com/763e12b4c2.js")
script(src='js/jquery.formstyler.min.js')
script(src='js/jquery.flexslider-min.js')
script(src='js/jquery.sliderPro.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/bootstrap.min.js')
script(src='js/mask-input.js')
script(src='js/main.js')