doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .about-banner
          .banner-body
            img(src="images/logo.png", alt="logo")
        
        .container
          .content
            //= template/breadcrumb.jade

            h1.title-h1 О компании
            
            .text-block
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещенияс целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.

            .divider


            .text-block
              .page-subtitle История компании
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещения с целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.
              p Материал диванов этой серии - натуральная кожа, которая имеет долгий срок службы. Заявленный срок службы более 20 лет. Производитель дает 5 летнюю гарантию на качество материалов любого дивана. Не упустите возможность завладеть диваном этой коллекции, который будет служить верой и правдой каждый день.
          
            .video-block
              img(src="images/about-company-video-bg.jpg", alt="video")
              span.video-btn

            .text-block
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещения с целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.

            .divider


            .text-block
              .page-subtitle Ассортимент товаров
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещения с целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.
  
            .image-block
              img(src="images/about-company-banner.jpg", alt="banner-image")

            .text-block
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещения с целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.

            .quote
              span.kavichki
              .quote__text Престиж Мебель сотрудничает с крупнейшими транспортными компаниями и осуществляет доставку по всей России. Кроме того, организована бесплатная сборка мебели для жителей Калининграда и области.
            
            .text-block
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещения с целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.
              p Материал диванов этой серии - натуральная кожа, которая имеет долгий срок службы. Заявленный срок службы более 20 лет. Производитель дает 5 летнюю гарантию на качество материалов любого дивана. Не упустите возможность завладеть диваном этой коллекции, который будет служить верой и правдой каждый день.

            .images-list-block
              img(src="images/about-company-image-1.png", alt="image")
              img(src="images/about-company-image-2.png", alt="image")
              img(src="images/about-company-image-3.png", alt="image")
              img(src="images/about-company-image-4.png", alt="image")
              img(src="images/about-company-image-5.png", alt="image")
              img(src="images/about-company-image-6.png", alt="image")
              img(src="images/about-company-image-7.png", alt="image")
              img(src="images/about-company-image-8.png", alt="image")
              img(src="images/about-company-image-9.png", alt="image")

            .text-block
              p Распродажа диванов, которые подойдут всем. Диваны этой коллекции действительно отлично впишутся практически в любой интерьер квартиры, дома, офиса или дачи. Дополнительно мы предлагаем услуги по бесплатному замеру вашего помещения с целью определения точного размера. Наш опытный специалист-замерщик приедет к вам абсолютно бесплатно и произведет точный замер, а также даст консультацию по правильному подбору места для дивана.



    //= template/footer.jade

    //= template/scripts.jade
