doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle

        //= template/breadcrumb.jade

        h1.title-h1 
        

    //= template/footer.jade

    //= template/scripts.jade
