doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade
      //= template/mobile-menu.jade

      section.middle
        .container
          .content
            //= template/breadcrumb.jade

            h1.title-h1 Блог

            .blog-article-list
              .flex-row
                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-1.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Двухъярусные кровати для маленькой детской

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-2.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Стол-трансформер: журнальный столик или полноценный обеденный стол?

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-3.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Стол-трансформер: журнальный столик или полноценный обеденный стол?
              
              .flex-row
                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-4.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Небольшие секреты для долгой жизни обивки вашей мебели

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-6.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Двухъярусные кровати для маленькой детской

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-5.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Не знаете, как ухаживать за шкафом-купе?

              .flex-row
                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-1.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Двухъярусные кровати для маленькой детской

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-2.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Стол-трансформер: журнальный столик или полноценный обеденный стол?

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-3.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Стол-трансформер: журнальный столик или полноценный обеденный стол?
              
              .flex-row
                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-4.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Небольшие секреты для долгой жизни обивки вашей мебели

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-6.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Двухъярусные кровати для маленькой детской

                .global-item
                  .global-item__zoom-image
                    a(href="#!")
                      img(src="images/blog-image-5.jpg", alt="blog-image" title="blog-image")
                  .global-item__body
                    a(href="#!").global-item__text Не знаете, как ухаживать за шкафом-купе?

            .buttons-block.text-center
              a(href="#!").btn Показать еще статьи
              a(href="#!").btn.btn-black Перейти в каталог

        

    //= template/footer.jade

    //= template/scripts.jade
