doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade
      //= template/mobile-menu.jade

      section.middle.blog-article
        
        .blog-article-banner
      

        .container
          .content
            .blog-article-wrapper
              //= template/breadcrumb.jade

              h1.title-h1 Стол-трансформер: журнальный столик или полноценный обеденный стол?
              
              .text-block
                p Перед нами всегда вставал вопрос о полезности мебели. Мы привыкли, что большую часть квартиры занимает бабушкин сервиз или громоздкий стол, который не дает никому пройти. Не каждый похвастает просторным помещением, и подобные семейные реликвии захламляют и без этого малое свободное пространство и не выполняют нужных функций. Именно поэтому появилось желание маленькое превратить в большое, а большое, - наоборот сделать миниатюрным и омпактным. В квартирах с постсоветской планировкой мы нуждаемся в дополнительном пространстве, поэтому столы-трансформеры помогут решить эту проблему и выиграть немного места для других интерьерных решений. Журнальный или полноценный обеденный стол – решать вам.

              .video-block
                img(src="images/blog-article-image-2.jpg", alt="video")
                a.various.video-btn(class='fancybox.iframe', href='http://www.youtube.com/embed/L9szn1QQfas?autoplay=1')


              .text-block
                p Перед нами всегда вставал вопрос о полезности мебели. Мы привыкли, что большую часть квартиры занимает бабушкин сервиз или громоздкий стол, который не дает никому пройти. Не каждый похвастает просторным помещением, и подобные семейные реликвии захламляют и без этого малое свободное пространство и не выполняют нужных функций. Именно поэтому появилось желание маленькое превратить в большое, а большое, - наоборот сделать миниатюрным и омпактным. В квартирах с постсоветской планировкой мы нуждаемся в дополнительном пространстве, поэтому столы-трансформеры помогут решить эту проблему и выиграть немного места для других интерьерных решений. Журнальный или полноценный обеденный стол – решать вам.

              .text-block
                .page-subtitle Современные столы трансформеры – это:
                .images-blog.pull-left
                  img(src="images/blog-image-7.jpg", alt="blog-image")
                p Дополнительные места для хранения – появляется возможность для хранения книг, дисков, аксессуаров и других нужных вещей в одном месте. Некоторые конструкции оснащены дополнительными шкафами, полками или ящиками под столешницами;
                p компактность и многофункциональность– стол можно сложить и использовать как небольшой журнальный столик или же разложить и сервировать под обеденный стол;
                p надежность и внешний вид – какой бы стол вы не выбрали, механизм рассчитан на частое применение, а дизайн, стилизованный под породы дерева подойдет для классического, так и для интерьера в стиле модерн.

              .text-block
                p Как мы отметили выше, современные столы-трансформеры – функциональная мебель, сочетающая дизайн и новые технологии. В гостиной или кухне столы будут выполнять функцию сервировки для гостей и добавят места для отдыха в семейном кругу. По конструкциям столы-трансформеры делятся на: раздвижные, раскладные и откидные модели.
                p Раздвижные столы раскладываются как слайдер, а в центре помещается дополнительный блок столешницы. Раскладная модель – универсальный вариант для малогабаритных комнат и кухонь. Стол представлен в виде небольшой прямоугольной тумбы или квадратного приземистого журнального стола, крылья которого опущены по бокам. Если вам потребуется собрать обеденный стол, поднимите боковины и закрепите снизу предусмотренным элементом или механизмом. Что касается откидныхстоликов, то они выглядят как навесные полки и монтируются на стенку. При необходимости край столешницы откидывается и фиксируется на скрытой ножке.
              
              .some-image
                .flex-row
                  .some-image__item
                    img(src="images/blog-image-8.jpg", alt="blog-image")
                  .some-image__item
                    img(src="images/blog-image-9.jpg", alt="blog-image")
                  .some-image__item
                    img(src="images/blog-image-10.jpg", alt="blog-image")

              .text-block
                .page-subtitle Знаете ли вы, что ...
                p Представленные конструкции размещают до 8 человек. Однако выбор стола зависит исключительно от предпочтений, габаритов комнаты и конечно же интерьера. На сегодняшний день существует множество столов-трансформеров, отличающихся по конструкциям, форме и механизму, но благодаря классификации, выбор стола в гостиную или кухню станет гораздо проще.Столы-трансформеры для гостиной – если у вас однокомнатная квартира и помещение не позволяет разместить стол и несколько стульев одновременно, обратите внимание на функциональные и опциональные столы-трансформеры для гостиных. это квадратные журнальные столики, а внутри конструкция скрывает много дополнительных функций. Это панели для хранения вещей, вкладки-расширения и еще одна столешница. Перечисленные элементы помогают собрать подходящий по размерам обеденный стол, таким образом он увеличивается в два, а то и в три раза. Сборка стола осуществляется методом «прироста» нужных элементов. В обычном состоянии – это журнальный столик, для обеда можно сделать средний стол для троих-четверых людей, а если захотите пригласить много гостей, то стол позволит разложить его на большое количество людей.

              .quote
                span.kavichki
                .quote__text Престиж Мебель сотрудничает с крупнейшими транспортными компаниями и осуществляет доставку по всей России. Кроме того, организована бесплатная сборка мебели для жителей Калининграда и области.
              
              .text-block
                p Представленные конструкции размещают до 8 человек. Однако выбор стола зависит исключительно от предпочтений, габаритов комнаты и конечно же интерьера. На сегодняшний день существует множество столов-трансформеров, отличающихся по конструкциям, форме и механизму, но благодаря классификации, выбор стола в гостиную или кухню станет гораздо проще.Столы-трансформеры для гостиной – если у вас однокомнатная квартира и помещение не позволяет разместить стол и несколько стульев одновременно, обратите внимание на функциональные и опциональные столы-трансформеры для гостиных. это квадратные журнальные столики, а внутри конструкция скрывает много дополнительных функций.v

              .text-block
                .page-subtitle Современные столы трансформеры – это:
                .images-blog.pull-left
                  img(src="images/blog-image-7.jpg", alt="blog-image")
                p Дополнительные места для хранения – появляется возможность для хранения книг, дисков, аксессуаров и других нужных вещей в одном месте. Некоторые конструкции оснащены дополнительными шкафами, полками или ящиками под столешницами;
                p компактность и многофункциональность– стол можно сложить и использовать как небольшой журнальный столик или же разложить и сервировать под обеденный стол;
                p надежность и внешний вид – какой бы стол вы не выбрали, механизм рассчитан на частое применение, а дизайн, стилизованный под породы дерева подойдет для классического, так и для интерьера в стиле модерн.

            .buttons-block.text-center
              a(href="#!").btn Перейти к списку статей
              a(href="#!").btn.btn-black Перейти в каталог

    //= template/footer.jade

    //= template/scripts.jade
