doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade
      //= template/mobile-menu.jade
      
      section.middle.grey-bg.leaf
        .container
          .content
            //= template/breadcrumb.jade

            h1.title-h1 Ваш заказ

            .cart-products
              .cart-products__head
                .col-1 №
                .col-2
                .col-3 Наименование товара
                .col-4 Цвет
                .col-5 Цена, руб.
                .col-6 Количество, шт.
                .col-7 Сумма, руб.
                .col-8 
                  span.delete-item
              
              //= template/product-cart.jade
              //= template/product-cart.jade
              //= template/product-cart.jade

              .cart-products__footer
                .col-1
                .col-2 
                  a(href="#!") Очистить корзину
                .col-3.font-size-16.font-medium Итого Ваш заказ:
                .col-4
                .col-5
                .col-6.js-total-amount.text-center 12 шт.
                .col-7
                  .product__price.js-total-price 642 000 руб.
            
            .text-center.visible-xs
              a(href="#!") Очистить корзину

        .calculation-order
          .container
            .page-title Заявка на расчет заказа
            form.calculation-form
              .row
                .col-sm-4.col-md-3
                  input(type="text" placeholder="Ваше имя *")
                .col-sm-4.col-md-3
                  input(type="text" placeholder="Ваш телефон *").js-mask-phone
                .col-sm-4.col-md-3
                  input(type="email" placeholder="Ваш email *")
                .col-sm-12.col-md-3
                  button(type="submit").btn.btn-white Рассчитать стоимость

            .calculation-caption
              div.text-1 Для расчета окончательной стоимости всех товаров Вам необходимо отправить заказ на расчет цены. 
              div.text-2
                Наш дежурный менеджер рассчитает полеую стоимость товаров и условия покупки. Вся иинформация будет отправлена Вам на почту.

    //= template/footer.jade

    //= template/scripts.jade