doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade
      //= template/mobile-menu.jade

      section.middle
        .grey-bg
          .container
            .content
              //= template/breadcrumb.jade

              h1.title-h1 Документы
              
              .docments-wrap
                .docments-head
                  .col-1 Наименование документа
                  .col-2 Формат
                  .col-3 Размер
                  .col-4 Скачать

                .docments-list

                  .docment
                    .col-1
                      .docment-title
                        a(href="#!") Каталог производителя корпусной и мягкой мебели MUGALI
                    .col-2
                      span.file-title Формат
                      span.file-format-pdf pdf
                    .col-3
                      span.file-title Размер 
                      span 2,13 Мб.
                    .col-4
                      a(href="#!").btn Скачать

                  .docment
                    .col-1
                      .docment-title
                        a(href="#!") Руководство пользователя по эксплуатации чистащих средств для мебели коллекции FIGARO от компании PIZZARO VICI
                    .col-2
                      span.file-title Формат
                      span.file-format-zip zip
                    .col-3 
                      span.file-title Размер 
                      span 2,13 Мб.
                    .col-4
                      a(href="#!").btn Скачать

                  .docment.docment--multiply
                    .docment__body
                      .flex-row
                        .col-1
                          .docment-title
                            a(href="#!") Сертификат соответствия качества РСТ выданный 19 ноября 2010 года компании ООО “Престиж мебель” г. Калининград
                        .col-2
                          span.file-title Формат
                          span.file-format-doc doc
                        .col-3 
                          span.file-title Размер 
                          span 2,13 Мб.
                        .col-4
                          a(href="#!").btn Скачать
                    
                      ul.flex-row
                        li 
                          .col-1
                            .docment-title
                              a(href="#!") Фотоальбом коллекции угловых диванов от фабрики Viola Putti
                          .col-2
                            span.file-title Формат
                            span.file-format-pdf pdf
                          .col-3 
                            span.file-title Размер 
                            span 2,13 Мб.
                          .col-4
                            a(href="#!").btn Скачать
                        li 
                          .col-1
                            .docment-title
                              a(href="#!") Каталог производителя корпусной и мягкой мебели MUGALI
                          .col-2
                            span.file-title Формат
                            span.file-format-pdf pdf
                          .col-3 
                            span.file-title Размер 
                            span 2,13 Мб.
                          .col-4
                            a(href="#!").btn Скачать
                  
                  .docment
                    .col-1
                      .docment-title
                        a(href="#!") Каталог производителя корпусной и мягкой мебели MUGALI
                    .col-2
                      span.file-title Формат
                      span.file-format-pdf pdf
                    .col-3 
                      span.file-title Размер 
                      span 2,13 Мб.
                    .col-4
                      a(href="#!").btn Скачать

                  .docment
                    .col-1
                      .docment-title
                        a(href="#!") Руководство пользователя по эксплуатации чистащих средств для мебели коллекции FIGARO от компании PIZZARO VICI
                    .col-2
                      span.file-title Формат
                      span.file-format-zip zip
                    .col-3 
                      span.file-title Размер 
                      span 2,13 Мб.
                    .col-4
                      a(href="#!").btn Скачать

                  .docment
                    .col-1
                      .docment-title
                        a(href="#!") Каталог производителя корпусной и мягкой мебели MUGALI
                    .col-2
                      span.file-title Формат
                      span.file-format-pdf pdf
                    .col-3 
                      span.file-title Размер 
                      span 2,13 Мб.
                    .col-4
                      a(href="#!").btn Скачать

              //= template/pagination.jade

        .container
          .about-block.about-block-docunents
            div.about-block__text
              .page-title О магазине
              p Компания "Престиж Мебель" представлена в России с 2005 года. За годы плодотворной работы компания успела зарекомендовать себя на рынке, благодаря высокому качеству продукции, изысканному дизайну, отменному сервису, доступному уровню цен в своем сегменте.
              p Было открыто шесть салонов в Москве, это и флагманский салон на Фрунзенской набережной и подиумы в крупнейших мебельных торговых центрах: МТК «Гранд», ТК «Три Кита», ТК «Западный», МТК "Армада", ТК «Твой дом» в Крокус сити. Компания ведет активное сотрудничество с регионами России.
              .about-block__link
                a(href="#!") Узнать больше о магазине ...
            div
              img(src="images/about-shop-image.jpg", alt="about-shop-image")

    //= template/footer.jade

    //= template/scripts.jade
