doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .landing-banner
          .carousel-caption
            .carousel-title
              .carousel-title__item 
                span.carousel-title__line Скидки до 35%
              .carousel-title__item 
                span.carousel-title__line на всю мебель из ротанга
            a(href="#!").btn.btn-white.btn-large Посмотреть товары со скидкой

        .problem-block
          .container
            .page-title Мы знаем Ваши проблемы
            ul.landing-list 
              li Недавно купили квартиру в Калининграде? 
              li Нужно обставить всю квартиру мебелью?
              li Не хотите тратить время на поиски мебели?
              li Хотите все купить в одном месте?
              li Нужно доставить и собрать всю мебель?
        
        .landing-offer
          .container
            .page-title Предлагаем эффективное решение

            ul.offer-banners
              li
                .banner.banner-bg-1
                  a(href="#!").btn Все в одном месте
              li
                .banner.banner-bg-2
                  a(href="#!").btn Гибкие цены
              li
                .banner.banner-bg-3
                  a(href="#!").btn Бесплатная сборка
              li
                .banner.banner-bg-4
                  a(href="#!").btn Решение под ключ
        
        .package-offer
          .container
            .page-title Предложения на любой кошелек
            
            .offer-list

              .offer-card
                .offer-card__title Старт
                .offer-card__body
                  ul.landing-list 
                    li Кватрира площадью  от 20 до 40 кв.м.
                    li Мебель эконом  класса
                    li Доставка мебели
                    li Сборка мебели
                .offer-card__footer
                  .offer-card__price до 200 000 руб. на всю мебель
                  a(href="#!").btn Заказать пакет

              .offer-card
                .offer-card__title Оптимальный
                .offer-card__body
                  ul.landing-list 
                    li Кватрира площадью  от 40 до 100 кв.м.
                    li Мебель эконом / премиум класса
                    li Доставка мебели
                    li Сборка мебели
                    li Консультации по подбору
                .offer-card__footer
                  .offer-card__price до 500 000 руб. на всю мебель
                  a(href="#!").btn Заказать пакет

              .offer-card
                .offer-card__title Премиум
                .offer-card__body
                  ul.landing-list 
                    li Кватрира площадью более 100 кв.м.
                    li Мебель премиум класса
                    li Доставка мебели
                    li Сборка мебели
                    li Консультации по подбору
                    li Услуги дизайнера интерьеров
                .offer-card__footer
                  .offer-card__price до 1 000 000 руб. на всю мебель
                  a(href="#!").btn Заказать пакет
            
            .landing-caption Если не один их предложенных вариантов Вам не подходит, не расстраивайтесь. Оставьте заявку и мы подберем индивидуальное предложение специально для Вас.
        
        .profit-terms
          .page-title Выгодные условия
          
          .payment-wrap
            .payment

              .payment__item
                span.icon-1
                .payment__title Бери сейчас, плати потом
                p Это решение позволит Вам получить всю мебель для вашего дома, офиса или дачи сразу.

              .payment__item
                span.icon-2
                .payment__title Никакой переплаты при покупке!
                p Мы предлагаем рассрочку от своего магазина, поэтому Вы не будите переплачивать.

              .payment__item
                span.icon-3
                .payment__title Нужен только паспорт гражданский
                p Вам нужен только паспорт на который будет заключен договор рассрочки.

        .landing-products
          .container
            .page-title Товары предложения       
            
            .product-list
              
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade

            .text-center
              a(href="#!").btn Перейти в каталог
        
        .landing-about
          .container
            .about-block
              div.about-block__text
                .page-title Уникальное предложение
                p Компания "Престиж Мебель" представлена в России с 2005 года. За годы плодотворной работы компания успела зарекомендовать себя на рынке, благодаря высокому качеству продукции, изысканному дизайну, отменному сервису, доступному уровню цен в своем сегменте.
                p Было открыто шесть салонов в Москве, это и флагманский салон на Фрунзенской набережной и подиумы в крупнейших мебельных торговых центрах: МТК «Гранд», ТК «Три Кита», ТК «Западный», МТК "Армада", ТК «Твой дом» в Крокус сити. Компания ведет активное сотрудничество с регионами России.
                .about-block__link
                  a(href="#!") Узнать больше о магазине ...
              div
                img(src="images/about-shop-image.jpg", alt="about-shop-image")

        .brands
          .container
            .page-title Производители

            .brand-list
              .brand-item
                img(src="images/brand-1.jpg", alt="brand")
              .brand-item
                img(src="images/brand-2.jpg", alt="brand")
              .brand-item
                img(src="images/brand-3.jpg", alt="brand")
              .brand-item
                img(src="images/brand-4.jpg", alt="brand")
              .brand-item
                img(src="images/brand-5.jpg", alt="brand")
              .brand-item
                img(src="images/brand-6.jpg", alt="brand")
              .brand-item
                img(src="images/brand-7.jpg", alt="brand")
              .brand-item
                img(src="images/brand-8.jpg", alt="brand")
              .brand-item

            a(href="#!") Смотреть всех производителей
        
        .gallery.margin-bottom-0
          a(href="#!").gallery__item
            img(src="images/gallery-images-1.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-2.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-3.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-4.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-5.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-6.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-7.jpg", alt="gallery-image" title="gallery-image")
        
          a(href="#!").gallery__item
            img(src="images/gallery-images-8.jpg", alt="gallery-image" title="gallery-image")
          a(href="#!").gallery__item
            img(src="images/gallery-images-1.jpg", alt="gallery-image" title="gallery-image")
          
          a(href="#!").gallery__item
            img(src="images/gallery-images-2.jpg", alt="gallery-image" title="gallery-image")
          
          a(href="#!").gallery__item
            img(src="images/gallery-images-3.jpg", alt="gallery-image" title="gallery-image")
          
          a(href="#!").gallery__item
            img(src="images/gallery-images-4.jpg", alt="gallery-image" title="gallery-image")


        .questions
          .container
            .page-title Вопросы и ответы
            
            #accordion.panel-group
              .panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') Могу ли я поспользоваться Вашим предложением, если я не являюсь гражданином РФ и у меня нет прописки в Калининграде? Но я бы очень хотел все купить.
                #collapseOne.panel-collapse.collapse.in
                  .panel-body
                    .arrow
                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food 

              .panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') В какой смок мне будет доставлена вся мебель до моей квартиры?
                #collapseTwo.panel-collapse.collapse
                  .panel-body
                    .arrow
                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food 

              .panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree') У вас рассрочка или это кредит от банка?
                #collapseThree.panel-collapse.collapse
                  .panel-body
                    .arrow
                    p Наш магазин предлагает уникальную возможность получить рассрочку именно от магазина. Поэтому вы получаете всю мебель, а выплачиваете ее стоимость по рассрочке, причем Вы ничего не переплачиваете. Все, что нужно это выбрать мебель, заключить договор и соблюдать график платежей согласно условиям договора.

              .panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour') Что делать если у хочу воспользоваться Вашим предложением, но мой дом находится за пределами Калининградской области? Я проживаю в Зеленоградске.
                #collapseFour.panel-collapse.collapse
                  .panel-body
                    .arrow
                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food 

              .panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseFive') На какой срок можно воспользоваться рассрочкой?
                #collapseFive.panel-collapse.collapse
                  .panel-body
                    .arrow
                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food 

              .panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseSix') Что будет если я заключу договор, а мебель, которую я купил мне не понравится, хотя договор на выплату денег по рассрочки будет заключен? Можно ли узнать подробнее?
                #collapseSix.panel-collapse.collapse
                  .panel-body
                    .arrow
                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food 

        .facts
          .container
            .facts__item
              span.icon-9
              p Огромный выбор мебели

            .facts__item
              span.icon-10
              p Более 3000 позиций в наличии

            .facts__item
              span.icon-12
              p Эксклюзивный ассортимент

            .facts__item
              span.icon-3
              p Гарантия качества

            .facts__item
              span.icon-11
              p Компания с 20-ти летней историей
        
        .divider

        .different-solution
          .container
            .page-title Другие решения

            .global-items-list
              .global-item.global-item--white
                a(href="#!").global-item__image
                  img(src="images/complex-image-1.jpg", alt="complex-image" title="complex-image")
                .global-item__body
                  a(href="#!").global-item__text Комплексеное предложение для владельцев домов

              .global-item.global-item--white
                a(href="#!").global-item__image
                  img(src="images/complex-image-2.jpg", alt="complex-image" title="complex-image")
                .global-item__body
                  a(href="#!").global-item__text Предложение для новоселов

              .global-item.global-item--white
                a(href="#!").global-item__image
                  img(src="images/complex-image-3.jpg", alt="complex-image" title="complex-image")
                .global-item__body
                  a(href="#!").global-item__text Столы и стулья для любого помещения

              .global-item.global-item--white
                a(href="#!").global-item__image
                  img(src="images/complex-image-4.jpg", alt="complex-image" title="complex-image")
                .global-item__body
                  a(href="#!").global-item__text Мебель для гостиниц и гостевых домов

    //= template/footer.jade

    //= template/scripts.jade
