doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade
      //= template/mobile-menu.jade

      section.middle 
        .producer-catalog
          .container
            //= template/breadcrumb.jade

            h1.title-h1 Каталог производителей
            
            .producers
              .producers-filter
                .producer-item
                  select
                    option Тип помещения
                    option option one  
                    option option two  
                    option option three  
                    option option four
                .producer-item
                  select
                    option Тип мебели
                    option option one  
                    option option two  
                    option option three  
                    option option four
                .producer-item
                  select
                    option Стиль
                    option option one  
                    option option two  
                    option option three  
                    option option four
                .producer-item
                  select
                    option Страна
                    option option one  
                    option option two  
                    option option three  
                    option option four
                .producer-item.producer-item-submit
                  button(type="submit").submit-btn Очистить фильтр
              
              .producers-list
                .producer-item
                  ul.brands-list
                    li
                      a(href="#!") Altamoda
                    li
                      a(href="#!") Amboan
                    li
                      a(href="#!") Artmax
                    li
                      a(href="#!") Arts & Craft
                    li
                      a(href="#!") Astor Mobili
                    li
                      a(href="#!") Bali Bali by HP
                    li
                      a(href="#!") Bastex
                    li
                      a(href="#!") Bellutti
                    li
                      a(href="#!") Brevio Salotti
                    li
                      a(href="#!") Camerich
                    li
                      a(href="#!") Cavio

                .producer-item
                  .brands-list
                    li
                      a(href="#!").color-light-grey Altamoda
                    li
                      a(href="#!").color-light-grey Amboan
                    li
                      a(href="#!").color-light-grey Artmax
                    li
                      a(href="#!").color-light-grey Arts & Craft
                    li
                      a(href="#!") Astor Mobili
                    li
                      a(href="#!").color-light-grey Bali Bali by HP
                    li
                      a(href="#!") Bastex
                    li
                      a(href="#!").color-light-grey Bellutti
                    li
                      a(href="#!") Brevio Salotti
                    li
                      a(href="#!") Camerich

                .producer-item
                  .brands-list
                    li
                      a(href="#!").color-light-grey Altamoda
                    li
                      a(href="#!").color-light-grey Amboan
                    li
                      a(href="#!") Artmax
                    li
                      a(href="#!") Arts & Craft
                    li
                      a(href="#!").color-light-grey Astor Mobili
                    li
                      a(href="#!").color-light-grey Bali Bali by HP

                .producer-item
                  .brands-list
                    li
                      a(href="#!").color-light-grey Altamoda
                    li
                      a(href="#!").color-light-grey Amboan
                    li
                      a(href="#!") Artmax
                    li
                      a(href="#!") Arts & Craft
                    li
                      a(href="#!").color-light-grey Astor Mobili
                    li
                      a(href="#!") Bali Bali by HP
                    li
                      a(href="#!") Bastex
                    li
                      a(href="#!").color-light-grey Bellutti
                    li
                      a(href="#!") Brevio Salotti
                    li
                      a(href="#!").color-light-grey Camerich
                    li
                      a(href="#!") Cavio

                .producer-item
                  .brands-list
                    li
                      a(href="#!") Altamoda
                    li
                      a(href="#!") Amboan
                    li
                      a(href="#!") Artmax
                    li
                      a(href="#!").color-light-grey Arts & Craft
                    li
                      a(href="#!").color-light-grey Astor Mobili
                    li
                      a(href="#!").color-light-grey Bali Bali by HP
                    li
                      a(href="#!").color-light-grey Bastex
                    li
                      a(href="#!") Bellutti
                    li
                      a(href="#!") Brevio Salotti
 
        .content
          .container
            .page-title Фабрика MUGALI

            .brand-details
              .brand-logo
                img(src="images/mugali-brand.jpg", alt="mugali-brand")
              .brand-description
                p.description-text Mugali S.L. (Мугали) – это известная торговая марка на испанском рынке. Фабрика производит коллекции мебели (спальни, столовые, гостиные) в различных стилях. Используются как классические формы, так и изысканные изгибы стиля ар деко. Кроме того, стоит особо отметить детские комнаты, созданные испанскими умельцами. Это яркие и функциональные конструкции, которые смогут в полной мере отразить индивидуальность ребенка и сделать его отдых и учебу приятными и результативными. Фабрика была образована в Mugali S.L. (Мугали) – это известная торговая марка на испанском рынке. Фабрика производит коллекции мебели (спальни, столовые, гостиные) в различных стилях. Используются как классические формы, так и изысканные изгибы стиля ар деко. Кроме того, стоит особо отметить детские комнаты, созданные испанскими умельцами. Это яркие и функциональные конструкции, которые смогут в полной мере отразить индивидуальность ребенка и сделать его отдых и учебу приятными и результативными. Фабрика была образована в 
                .brand-links
                  a(href="#!").js-toggle-text
                  a(href="#!") Перейти на сайт производителся
            
            .brand-images
              img(src="images/prducer-image-1.jpg", alt="prducer")
              img(src="images/prducer-image-2.jpg", alt="prducer")
              img(src="images/prducer-image-3.jpg", alt="prducer")
              img(src="images/prducer-image-4.jpg", alt="prducer")
              img(src="images/prducer-image-5.jpg", alt="prducer")
              img(src="images/prducer-image-6.jpg", alt="prducer")
              img(src="images/prducer-image-7.jpg", alt="prducer")
              img(src="images/prducer-image-8.jpg", alt="prducer")
              img(src="images/prducer-image-9.jpg", alt="prducer")
            
        .divider

        .current-brand
          .container
            .page-title Товары этого производителя
            .product-list
              
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
              .product-list__item
                //= template/product.jade
                
          .buttons-block.text-center
            a(href="#!").btn Показать еще товары
            a(href="#!").btn.btn-black Перейти в каталог

    //= template/footer.jade

    //= template/scripts.jade
