doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body
    #wrapper

      //= template/header.jade

      section.middle
        .container
          .content
            //= template/breadcrumb.jade

            h1.title-h1 Услуги

            .services-caption
              .services-caption__logo
                img(src="images/logo.png", alt="logo")
              .services-caption__text Предлагая функциональную и красивую мебель, мы экономим вам время. Каждую модель мы создаем с нуля в своем конструкторском бюро в Москве, тестируем на прочность и олько после этого предлагаем своим покупателям. Наша собственная сеть фабрик предоставляет гарантию 1,5 года на весь ссортимент: мы как никто другой заинтересованы в качестве нашей мебели. Мы каждый день разрабатываем для вас новые модели взамен старых. Покупая мебель у нас, вы можете быть уверены в том, что идете в ногу со временем!

            .page-title Список предлагаемых услуг

            .services-list
              
              .services-item
                .services-item__icon
                  span.icon-1
                .services-item__body
                  .services-item__title Доставка мебели по Калининграду
                  .services-item__text Компания Престиж Мебель осуществляет доставку по городу Калининград. Доставка производится до подъездной двери от магазину. Время доставки согласовывается предварительно с менеджером.

              .services-item
                .services-item__icon
                  span.icon-2
                .services-item__body
                  .services-item__title Доставка мебели по области
                  .services-item__text Компания Престиж Мебель осуществляет доставку по Калининградской области. Стоимость и время доставки рассчитывается предварительно менеджером магазина. 

              .services-item
                .services-item__icon
                  span.icon-3
                .services-item__body
                  .services-item__title Подъем мебели
                  .services-item__text Мы предлагаем услугу по подъему мебели любых габаритов в многоэтажных домов. Если мебель не проходит по размерам в проемы, мы используем специальный подъемный кран.

              .services-item
                .services-item__icon
                  span.icon-4
                .services-item__body
                  .services-item__title Сборка мебели
                  .services-item__text Наши опытные специалисты осуществляют сборку вашей мебели полностью под ключ в вашем помещении. При заказе от 100 000 руб. сборка проводится бесплатно.

              .services-item
                .services-item__icon
                  span.icon-5
                .services-item__body
                  .services-item__title Выезд замерщика
                  .services-item__text Если Вы не можете подобрать мебель по размерам, мы решим эту проблему с помощью этой услуги. Наш замерщик осуществит выезд и сделает точные замеры для вашей мебели.

              .services-item
                .services-item__icon
                  span.icon-6
                .services-item__body
                  .services-item__title Услуги дизайнера интереьера
                  .services-item__text Чтобы мебель органично смотрелась в вашем интерьере, мы предлагаем услуги дизайнера интереьера, который подберет наиболее подходящую для Вас мебель. 

              .services-item
                .services-item__icon
                  span.icon-7
                .services-item__body
                  .services-item__title Покраска мебели
                  .services-item__text Если Вы не можете подобрать мебель по размерам, мы решим эту проблему с помощью этой услуги. Наш замерщик осуществит выезд и сделает точные замеры для вашей мебели.
 
              .services-item
                .services-item__icon
                  span.icon-8
                .services-item__body
                  .services-item__title Услуги дизайнера
                  .services-item__text Чтобы мебель органично смотрелась в вашем интерьере, мы предлагаем услуги дизайнера интереьера, который подберет наиболее подходящую для Вас мебель. 
        

    //= template/footer.jade

    //= template/scripts.jade
